:root {
  --lightBlue: rgb(143, 238, 255);
  --blue: rgb(97, 168, 223);
  --darkBlue: rgb(31, 104, 182);
  --white: rgb(249, 253, 255);
  --whiteTransparent: rgba(249, 253, 255, 0.346);
  --whitenotSoTransparent: rgba(249, 253, 255, 0.45);
  --dark: black;
  --darkTransparent: rgba(0, 0, 0, 0.466);
  --notSoDark: #242424;
  --lightShadow: hsla(222, 37%, 39%, 0.2);
  --darkShadow: hsla(222, 37%, 39%, 0.3);
  --font: "Helvetica";
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 320px;
}

body {
  font-family: var(--font);
  /* background-color: rgb(242, 233, 220); */
  /* background: linear-gradient(0deg, var(--blue) 0%, var(--lightBlue) 100%); gradient */
  background-image: url("../src/assets/bg-goodWeather.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: var(--notSoDark);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--dark));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

form {
  border: solid 1px var(--whiteTransparent);
  background-color: var(--whiteTransparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 30px;
  padding: 5px 20px;
  box-shadow: 0px 0px 20px hsla(30, 100%, 30%, 0.1);
  transition: all ease 0.2s;
}

form:hover {
  border-color: var(--white);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 15px;
  transition: all ease 0.3s;
  border: solid var(--whiteTransparent) 1px;
  background-color: var(--whiteTransparent);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 3px var(--lightShadow);
}

li:hover {
  background-color: var(--whitenotSoTransparent);
  border-color: var(--white);
  box-shadow: 1px 1px 15px var(--darkShadow);
}
label {
  display: flex;
  align-items: center;
}

h4 {
  font-size: x-large;
  color: var(--white);
  text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
}

#name {
  font-size: medium;
  min-height: 30px;
  width: 200px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  padding-left: 8px;
}
.theWeather {
  border: solid 1px var(--whiteTransparent);
  background-color: var(--whiteTransparent);
  backdrop-filter: blur(10px);
  border-radius: 70px;
  padding: 20px;
  box-shadow: 0px 0px 20px hsla(0, 0%, 0%, 0.15);
  transition: all ease 0.2s;
}

#isForGoodWeather {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--white);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  position: relative;
}

#isForGoodWeather:checked {
  background-color: var(--whiteTransparent);
}

#isForGoodWeather:checked::before {
  content: "\2713"; /* Unicode character for checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em; /* Adjust the size of the checkmark */
  color: var(--notSoDark); /* Adjust the color of the checkmark */
}

#submitBtn {
  margin-bottom: 10px;
  border-radius: 15px;
}

span {
  margin: 0 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

#closeButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

nav {
  padding: 5px;
  border-radius: 15px;
  transition: 0.3s ease-out;
  background-color: var(--whiteTransparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(8px) brightness(1.2);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.locationBtn {
  background-color: transparent;
  padding: 0 5px;
  margin: 0 2px;
  color: var(--white);
  font-variant-caps: all-petite-caps;
  transition: 0.3s ease-out;
}

.locationBtn:hover {
  background-color: var(--whiteTransparent);
  border-color: var(--whiteTransparent);
  box-shadow: 1px 1px 15px var(--darkShadow);
}

.locationBtn:focus {
  background-color: var(--whitenotSoTransparent);
  color: var(--notSoDark);
  border: none;
}
